@import url('https://fonts.googleapis.com/css?family=Nixie+One');
@import 'https://fonts.googleapis.com/css?family=Dosis';


.headerLinks {
	color: white;
	font-family: 'Dosis', sans-serif;
	font-weight: bolder;
}

.headerLinks:hover {
	color: white;
	text-decoration: underline;
	font-family: 'Dosis', sans-serif;
	font-weight: bolder;
}

.headerBar {
	background-color: black !important;
}

.buttonLabel:hover {
	cursor: pointer;
	text-decoration: underline;
}

.chipButton:hover {
	cursor: initial !important;
}

.flamingoicon {
	padding: 0px 10px 0px 0px;
}
