@import url('https://fonts.googleapis.com/css?family=Nixie+One');
@import 'https://fonts.googleapis.com/css?family=Dosis';


.headerLinks {
	color: white;
	font-family: 'Dosis', sans-serif;
	font-weight: bolder;
}

.headerLinks:hover {
	/* color: #fd00f8; */
	color: lightskyblue;
	text-decoration: none;
	font-family: 'Dosis', sans-serif;
	font-weight: bolder;
}

.headerBar {
	background-color: black !important;
}

.buttonLabel:hover {
	cursor: pointer;
	color: lightskyblue;
	text-decoration: none;
}

.chipButton:hover {
	cursor: initial !important;
}
