.headerLinks {
	color: white;
}

.headerLinks:hover {
	color: white;
	text-decoration: underline;
}

.headerBar {
	background-color: black !important;
}

.buttonLabel:hover {
	cursor: pointer;
	text-decoration: underline;
}
