@import 'https://fonts.googleapis.com/css?family=Dosis';

.background {
  background-image: url('https://i.ibb.co/mSmPxtC/slotpagebg.jpg');
}

button:focus {outline:0;}

.Space {
  width:900px;
  /* background-image: url(./img/bg.jpg); */
  background-color: black;
  margin:20px auto; 
  padding-top:25px;
  height: 500px;
  position:relative;
  border-radius: 50px;
  text-align:center;
  font-family: 'Space Mono', monospace;
  font-weight: bolder;
  font-size: calc(44px + 2vmin);
  color: rgb(25, 190, 255);
  -moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
  
}

.SlotMachine {
  width:900px;
  background-image: url(./img/bg.jpg);
  /* background-color: black; */
  margin:0 auto; 
  margin-bottom: 100px;
  height: 500px;
  position:relative;
  border-radius: 50px;
  -moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
}
.WheelWrapper {
  width:875px;
  display:flex;
  justify-content:space-between;
  margin:40px 20px 0px 20px;
  background: linear-gradient(#656565, #101010);
  padding: 8px;
  margin-bottom:20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-left: 12px;
}
.Wheel {
  width:275px;
  height:275px;
  overflow:hidden;
  border: 5px solid black;
  border-radius: 10px;
  position: relative;
  background: black;
  -moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
} 

.Symbol { 
  position:absolute; 
  left:0px;
}

.StartButton {
  background-color: #60bb46;
  width: 200px;
  height: auto;
  margin: 5px;
  /* margin-top: 75px; */
  padding: 10px;
  border: 0px;
  border-radius: 20px;
  color: whitesmoke;
}

.StopButton {
  background-color: #ea5455;
  width: 200px;
  height: auto;
  padding: 10px;
  border: 0px;
  border-radius: 20px;
  color: whitesmoke;
}

@media (max-width:910px) {

  .SlotMachine {
    width:600px;
    height: 500px;
    padding-top:2px;
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
  }
  .Space  {
    width:600px;
    padding-top:2px;
  }
  
  .WheelWrapper {
    width:580px;
  }
  
  .Wheel {
    height:150px;
  }
  
  .Symbol {
    width:80%;
    height:auto;
    left:0;
  }
}

@media (max-width:550px) {

  .slotstitle {
    width:100%;
    height:auto;
  }

  .SlotMachine {
    width:250px;
    height: 250px;
    padding-top:2px;
  }
  .Space  {
    width:300px;
    padding-top:2px;
  }
  
  .WheelWrapper {
    width:300px;
        margin-left: -25px;
  }
  
  .Wheel {
    height:98px;
  }
  
  .Symbol {
    width:100%;
    height:auto;
    left:0;
  }
}